#app { width: 100%; padding-top: 100px; text-align: center; }
form { display: inline-block; height: 300px; margin: 0 auto; text-align: left; }
.form-line { line-height: 3em; }
.submit-line { text-align: center; }
label { display: inline-block; width: 100px; vertical-align: middle; }
input { display: inline-block; border-radius: 3px; vertical-align: middle; }
input[type=text] { width: 250px; height: 2em; padding: 2px 4px; border: 1px solid #eee; }
input[type=submit],input[type=button] { padding: 6px 8px; }
input[type=submit] { background: cornflowerblue; border: 1px solid #2b5bed; }
input[type=button] { background: #dbcaf5; border: 1px solid #9d9d9d; }
input[type=checkbox] { margin-left: 105px; }

#output { position: fixed; bottom: 0; width: 100%; height: 200px; border-top: 1px solid #eee; }

.ui.button { box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08) }