body { margin: 0; padding: 0 }
/* Mobile Styles */
@media only screen and (max-width: 400px) { }

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) { }

/* Desktop Styles */
@media only screen and (min-width: 961px) {

    body { font-family: "Segoe UI", "Open Sans", sans-serif; font-size: 1.1rem; font-weight: 400; display: block; background: #eee; }

    /*header { background-image: linear-gradient(60deg, #2b5bed 30%, #2e61ff 10%, #2e74ff 10%); padding-bottom: 5px; }*/
    header {  }

    main { display: flex; max-width: 1040px; margin: 20px auto; border-radius: 20px; background: #fff; box-shadow: 0 0 4px #ddd; }
    .main-inner { padding: 20px; width: 100%; }

    footer {  }
    ul { list-style: none; padding: 0; line-height: 25px; }
    li { padding: 2px 10px; margin: 0; }

    .transition { transition-timing-function: ease; }
    .transition.fastest { transition-duration: .15s; }
    .transition.fast { transition-duration: .30s;  }
    .transition.normal { transition-duration: .5s; }
    .transition.slow { transition-duration: 0.8s; }
    .transition.slowest { transition-duration: 1s; }

    .ui.menu { font-size: 1em; }

    .fundy {  }

    .fundy.messages-container { position: fixed; width: 600px; top: 20px; left: 50%; margin-left: -300px; z-index: 1000; }
    .fundy.messages-container .ui.message { position: relative; }
    .fundy.messages-container .ui.message i { position: absolute; top: 12px; right: 15px; }
    /*.fundy.messages-container .ui.message { margin: 0 auto 20px auto; }*/
    /*.fundy.messages-container .ui.message .header+p { font-size: 0.8em }*/
    /*.fundy.messages-container .ui.message .header:not(.ui) { font-size: 1em; }*/
    /*.ui.form input:not([type]), .ui.form .input input { height: calc(2.75rem + 2px); padding: .625rem .75rem; box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02); }*/
    /*.ui.form .field .prompt.label { transform: translateY(-10px); }*/

    .fundy.header { background-image: linear-gradient(60deg, #bbbcc8 34%, #8d8d8d 49%, #eaf2ff 65%); }
    .fundy.header-container { display: flex; height: 60px; max-width: 1040px; margin: 0 auto; }

    .fundy.logo { display: flex; flex: 0; margin: 0 40px; align-items: center; }
    .fundy.logo a { display: inline-block;  }
    .fundy.logo a img { height: 40px; }

    .fundy.header-inner { flex: 1; display: flex; text-align: center; align-items: center; }
    .fundy.header-menu .item { color: white; }
    .fundy.header-menu .ui.secondary.menu .active.item { color: white; }
    .fundy.header-menu .ui.secondary.menu a.item:hover { color: white; }
    .fundy.peek { cursor: pointer!important; pointer-events: visible!important; }
    .fundy.auth { margin-left: auto; display: flex; }

    .fundy.profile-logo { vertical-align: middle; display: inline-block; border-radius: 25px; width: 40px; height: 40px; border: 2px solid white; text-align: center; }
    .fundy.profile-logo:hover { transform: translateY(-1px); }

    header.fundy .fundy.header-bottom { height: 15px; background-image: linear-gradient(60deg, #bbbcc8 30%, #8d8d8d 10%, #eaf2ff 10%); }
    header.fundy.close .fundy.header-bottom { display: none; }

    header.fundy .fundy.auth-form { box-shadow: 0 5px 10px inset #aaaaaa; background: #f4f5f7; }

    header.fundy .fundy.auth-animation { overflow: hidden; transition-timing-function: linear; }

    /* Close */
    header.fundy.close .fundy.auth-animation { height: 0; opacity: 0; overflow: hidden; padding: 0; transition-property: height, opacity, padding-bottom, padding-top; }
    header.fundy.close .fundy.auth-animation .signup, header.fundy.close .fundy.auth-animation .signin { display: none; }
    /* Sing In */
    header.fundy.signin .fundy.auth-animation { height: 300px; padding: 50px 0 20px 0; opacity: 1; }
    header.fundy.signin .fundy.auth-animation .signup { display: none; }
    header.fundy.signin .fundy.auth-animation .signin { display: block; }

    /* Sing In to Up */
    header.fundy.signin-up .fundy.auth-animation { height: 300px; opacity: 0; padding: 50px 0 20px 0; transition-duration: .1s; }
    header.fundy.signin-up .fundy.auth-animation .signup { display: none; }
    header.fundy.signin-up .fundy.auth-animation .signin { display: block; }

    /* Sing Up */
    header.fundy.signup .fundy.auth-animation { height: 390px; padding: 50px 0 20px 0; opacity: 1; }
    header.fundy.signup .fundy.auth-animation .signup { display: block; }
    header.fundy.signup .fundy.auth-animation .signin { display: none; }

    /* Sing Up to In */
    header.fundy.signup-in .fundy.auth-animation { height: 390px; opacity: 0; padding: 50px 0 20px 0; transition-duration: .1s; }
    header.fundy.signup-in .fundy.auth-animation .signup { display: block; }
    header.fundy.signup-in .fundy.auth-animation .signin { display: none; }

    .fundy.auth-animation .form { width: 300px; margin: 0 auto; }
    .fundy.auth-animation .submit { text-align: center; }
    .fundy.auth-animation .ui.form .field { margin-bottom: 2em; }

    .fundy.message-container { max-height: 0; overflow: hidden; }
    .fundy.message-container.display { max-height: 150px; padding-bottom: 2em; }
    .auth-error { visibility: hidden; opacity: 0; }
    .fundy.message-container.display .auth-error { visibility: visible; opacity: 1; }

    .fundy.password { position: relative; }
    .fundy.password .fundy.peek { position: absolute; top: 0.75em; right: 0.3em; }
    .fundy.password .fundy.peek::before {  color: rgba(0, 0, 0, 0.5); }

    /*ui  input*/
    .user-login-link {  }

    /*Rewrite css*/
    .ui.capital { text-transform: capitalize }
    .ui.uppercase { text-transform: uppercase }

    .ui.button, .ui.buttons .button { border: 1px solid transparent; transition: all .15s ease; box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08)!important; letter-spacing: .025em; }
    .ui.button:hover, .ui.buttons .button:hover { transform: translateY(-1px); }
    .ui.button:focus, .ui.buttons .button:focus { transform: translateY(-1px); border-color: #d6d6d6; }
    .ui.button:not(:disabled):not(.disabled).active,
    .ui.button:not(:disabled):not(.disabled):active {  }

    .ui.primary.button, .ui.primary.buttons .button { background: #2e74ff; }
    .ui.primary.button:active, .ui.primary.buttons .button:active, .ui.primary.button:hover, .ui.primary.buttons .button:hover,
    .ui.primary.button:focus, .ui.primary.buttons .button:focus { background: #2e61ff; border-color: #2e61ff; }

    /* Tiles */
    .fundy.tile { position: relative; display: inline-flex; flex-wrap: wrap; width: 100px; height: 100px; box-shadow: 0 0 15px #aaa; border-radius: 10px; }
    .fundy.tile .icon { position: absolute; top: 8px; left: 8px; width: 84px; height: 84px; background: white; box-shadow: 0 0 3px #666666; border-radius: 5px; }
    .fundy.tile .corner { position: absolute; overflow: hidden; width: 10px; height: 10px; }
    .fundy.tile .corner:after { content: ""; position: absolute; border-radius: 10px; width: 20px; height: 20px; background: #2185d0; }
    .fundy.tile .corner i { position: absolute; overflow: hidden; transition: all ease-in-out 1s; top: 0; left: 0; width: 10px; height: 10px; z-index: 10; transform-origin: 100% 100%; }
    .fundy.tile .corner i:after { content: ""; position: absolute; top: 0; left: 0; width: 20px; height: 20px; background: #f4ad4c; border-radius: 10px; }

    .fundy.tile .corner.corner1 { top: 0; left: 0; }
    .fundy.tile .corner.corner1:after { content: ""; top: 0; left: 0; }
    .fundy.tile .corner.corner1 i { top: 0; left: 0; transform: rotateZ(-90deg);}
    .fundy.tile .corner.corner1 i:after { content: ""; top: 0; left: 0; }

    .fundy.tile .corner.corner2 { top: 0; right: 0; }
    .fundy.tile .corner.corner2:after { content: ""; top: 0; right: 0; }
    .fundy.tile .corner.corner2 i { top: 0; left: -10px; transform: rotateZ(0deg); }
    .fundy.tile .corner.corner2 i:after { content: ""; top: 0; right: 0; }

    .fundy.tile .corner.corner3 { bottom: 0; right: 0; }
    .fundy.tile .corner.corner3:after { content: ""; bottom: 0; right: 0; }
    .fundy.tile .corner.corner3 i { top: -10px; left: -10px; transform: rotateZ(90deg); }
    .fundy.tile .corner.corner3 i:after { content: ""; bottom: 0; right: 0; }

    .fundy.tile .corner.corner4 { bottom: 0; left: 0; }
    .fundy.tile .corner.corner4:after { content: ""; bottom: 0; left: 0; }
    .fundy.tile .corner.corner4 i { top: -10px; left: 0; transform: rotateZ(-180deg); }
    .fundy.tile .corner.corner4 i:after { content: ""; bottom: 0; left: 0; }

    .fundy.tile .progress-left { background: linear-gradient(0deg, #f4ad4c 0%, #2185d0 0); width: 50px; height: 80px; }
    .fundy.tile .progress-top { background: linear-gradient(90deg, #f4ad4c 0%, #2185d0 0); width: 80px; height: 10px; margin-left: 10px; }
    .fundy.tile .progress-right { background: linear-gradient(180deg, #f4ad4c 0%, #2185d0 0); width: 50px; height: 80px; }
    .fundy.tile .progress-bottom { background: linear-gradient(270deg, #f4ad4c 0%, #2185d0 0); width: 80px; height: 10px; margin-left: 10px; }

    #restore-password-container { padding: 20px; text-align: center; }
    #restore-password-inner { width: 300px; margin: 0 auto; }
    .forgot-password { margin-left: 10px; }

    #__lpform_input_idx_0, #__lpform_input_idx_1, #__lpform_username_icon, #__lpform_password_icon { display: none }

}